---
import Socials from '../Socials.astro'

const year = new Date().getFullYear()
---

<footer
  class="col-span-full flex w-full flex-col items-center md:flex-row md:justify-between"
>
  <Socials />
  <p class="prose-sm text-center md:text-right">
    Copyright © {year} Isaac Harris-Holt. All rights reserved.
  </p>
</footer>
