---

---

<nav class="grid grid-cols-middle-expand">
  <a href="/">
    <h1>Isaac Harris-Holt</h1>
  </a>
  <ul class="flex flex-row items-center gap-16">
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
  <div class="justify-self-end">something else</div>
</nav>
