---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Hi, I'm Isaac">
  <div class="min-h-[60vh] prose-headings:m-0 grid place-items-center row-start-site-start row-end-site-end">
    <div class="flex flex-col gap-8 items-center justify-center h-full">
  <h1>Hey, I'm Isaac</h1>
    <h2>Currently the Founding Engineer at <a href="https://stairpay.com" rel="external" target="_blank">Pluto</a></h2>
      <h3>Site is under construction.</h3>
      <ol>
        <li>Blog stuff <a href="/blog">here</a></li>
        <!-- <li>Contact me <a href="/contact">here</a></li> -->
        <li>CV <a href="/cv" target="_blank">here</a></li>
      </ol>
    </div>
  </div>
</Layout>
