---
import Layout from '../layouts/Layout.astro'
import GleamPlayground from '../components/GleamPlayground.svelte'
---

<Layout title="Hi, I'm Isaac" fullWidth>
  <div class="not-prose py-8">
    <GleamPlayground client:load />
  </div>
</Layout>
