---
import Layout from '../layouts/Layout.astro'
import Hero from '../components/Hero.svelte'
import Trail from '../components/Trail.svelte'
---

<Layout title="Hi, I'm Isaac">
  <main>
    <Hero text="Hi, I'm Isaac" client:load />
  </main>

</Layout>

<Trail client:load secondsVisible={1} />
