---
interface Props {
  text: string
}

const { text } = Astro.props
---

<div class="h-screen grid place-items-center w-full">
  <div class="grid max-w-screen-sm w-full group">
    <div class="row-start-1 col-start-1 z-10 flex flex-col gap-4 items-center">
      <div
        class="flex flex-row items-end gap-4 [&>div]:transition-all [&>div]:duration-300 [&>div]:transform [&>div]:aspect-square"
      >
        <div
          class="w-24 bg-red-500 group-hover:bg-blue-500 group-hover:-translate-x-16 group-hover:-translate-y-8 group-hover:-rotate-6"
        >
        </div>
        <div class="w-10 bg-red-500 group-hover:bg-green-500 group-hover:-translate-y-6">
        </div>
        <div
          class="w-16 bg-red-500 group-hover:bg-green-500 group-hover:-translate-y-6"
        >
        </div>
        <div
          class="w-16 bg-red-500 group-hover:bg-green-500 group-hover:-translate-y-6"
        >
        </div>
      </div>
      <div
        class="flex flex-row items-start gap-4 [&>div]:transition-all [&>div]:duration-300 [&>div]:transform [&>div]:aspect-square"
      >
        <div
          class="w-24 bg-red-500 group-hover:bg-blue-500 group-hover:-translate-x-16 group-hover:-translate-y-8 group-hover:-rotate-6"
        >
        </div>
        <div class="w-32 bg-red-500 group-hover:bg-sky-500 group-hover:translate-y-6">
        </div>
        <div
          class="w-16 bg-red-500 group-hover:bg-purple-500 group-hover:translate-y-6"
        >
        </div>
        <div
          class="w-16 bg-red-500 group-hover:bg-orange-500 group-hover:translate-y-6"
        >
        </div>
      </div>
    </div>
    <h1
      class="text-5xl xl:text-7xl font-bold row-start-1 col-start-1 place-self-center opacity-0 group-hover:opacity-100 transition-opacity duration-100"
    >
      Hi, I'm Isaac
    </h1>
  </div>
</div>
