---
import { Github, Linkedin, Twitter, Youtube } from "lucide-astro";

const socials = [
	{
		name: "YouTube",
		Icon: Youtube,
		href: "https://isaac.tube",
	},
	{
		name: "GitHub",
		Icon: Github,
		href: "https://github.com/isaacharrisholt",
	},
	{
		name: "X (lucide let me down on the icon 😔)",
		Icon: Twitter,
		href: "https://twitter.com/IsaacHarrisHolt",
	},
	{
		name: "LinkedIn",
		Icon: Linkedin,
		href: "https://www.linkedin.com/in/isaac-harris-holt/",
	},
];
---

<div class="flex flex-row flex-wrap items-center gap-4">
  {
    socials.map(({ name, Icon, href }) => (
      <a
        href={href}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-2"
        title={name}
      >
        <Icon size={24} />
      </a>
    ))
  }
</div>
